<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-beaker mr-2" aria-hidden="true"></span> 
    <strong>@Title</strong>
</div>

@functions {
    [Parameter]
    string Title { get; set; } // Demonstrates how a parent component can supply parameters
}
