@page "/"

<h1>Hello Blazor!</h1>

<img src="https://cdn-images-1.medium.com/max/1600/1*fb19K-mU-ipu0NRpc_p2pA.png" alt="Web Assembly" />

<p>A collection of test components on the left pane.</p>

<ExperimentalCallout Title="Testing Experimental Features" />
